@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}



.head-section {
    width: 100%;
    height: 105vh;
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-section h1{
    font-size: 65px;
    font-weight: 700;
}
.head-section p{
    font-size: 30px;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
}
.head-section a{
    width: 360px;
    height: 70px;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.head1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bg-about {
    background-image: url(../images/image\ 44.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.album .w-75 h1 .allres{
    display: none;
}



.about{
    height: 550px;
}
.about .div1{
    width: 90%;
}



.saleorrent {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.saleorrent .left {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 35%, rgba(0, 0, 0, 0.4) 100%), url(../images/salebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: 50vh;
    position: relative;
    border-radius: 15px;
}
.saleorrent .left p {
    position: absolute;
    top: 45%;
    left: 38%;
    color: white;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 10px;
}
.saleorrent .right {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 35%, rgba(0, 0, 0, 0.4) 100%), url(../images/kirayebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: 50vh;
    position: relative;
    border-radius: 15px;
}
.saleorrent .right p {
    position: absolute;
    top: 45%;
    left: 36%;
    color: white;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 10px;
}







.navbar-brand img {
    width: 72px;
}
.navbar-brand {
    margin: 0 4em !important;
}
.navbar-nav {
    align-items: center;
}
.navbar .navbar-nav .nav-link {
    color: black;
    font-size: 1.3em;
    letter-spacing: 3px;
    padding: .5em 1em;
    margin: 0 5px;
}






.mt-100 {
    margin-top: 100px
}

.product-wrapper,
.product-img {
    overflow: hidden;
    position: relative
}

.mb-45 {
    margin-bottom: 45px
}






.get-in-touch {
    max-width: 900px;
    margin: 120px;
    position: relative;

}
.get-in-touch .title {
    text-align: center;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: black;
    background: black;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}
.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: black;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus {
    outline: none;
}
.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}
.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: black;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 14px;
    border: none;
    border-radius: 15px;
    width: 300px;
    cursor: pointer;
}
.signupphoto{
    height: 100vh;
    width: 60%;
    background-image: url("../images/image\ 35.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}






.male-head-section {
    width: 100%;
    height: 100vh;
    background: #333 url("../images/image\ 29.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.male-head-section h1 {
    font-size: 3.15rem; /* Equivalent to 50px */
    font-weight: 700;
}
.male-head-section p {
    font-size: 25px;
    font-weight: 400;
}
.male-head-section button {
    width: 22.5rem; /* Equivalent to 360px */
    height: 4rem; /* Equivalent to 65px */
    font-weight: 600;
    font-size: 1.15rem; /* Equivalent to 18px */
    color: white;
    background-color: #000;
    border: none;
}




.female-head-section{
    width: 100%;
    height: 100vh;
    background-color: #333;
    background-image: url("../images/image\ 27.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}
.female-head-section div{
    height: 350px;
}
.female-head-section h1{
    font-size: 50px;
    font-weight: 700;
}
.female-head-section p{
    font-size: 25px;
    font-weight: 400;
}
.female-head-section button{
    width: 22.5rem; /* Equivalent to 360px */
    height: 4rem; /* Equivalent to 65px */
    font-weight: 600;
    font-size: 1.15rem; /* Equivalent to 18px */
    color: white;
    background-color: #000;
    border: none;
}



.loadmore{
    background-color: #fff;
    color: #000;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 14px;
    width: 300px;
    cursor: pointer;
    border-radius: 15px;
}
.loadmore:hover{
    background-color: #000;
    color: #fff;
}
